*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

div {
  display: inline-block;
}

.container { /*everything in the body*/
  margin: 0 auto;
  width: 420px;
  background-color: #ffffff;
}

nav { /*everything in top "head" section*/
  margin: 0 auto;
  padding: 10px 0 10px 0;
  background-color: #ffffff; /*white*/
  border-bottom: .5px solid #BCBBC1; /*skinny grey border*/
}

.bus-list { /*list of all buses/info*/
  padding: 10px 30px 10px 30px;
}

.header h1 { /*"bus list"*/
  font-size: 200%;
  color: #007AFF;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}

.arrow-left { /*only effects top arrow*/
  height: 50;
  padding: 25px;
  display: inline;
}

.location { /*directional groupings*/
  border-bottom: .5px solid #BCBBC1;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.location h2 { /*route direction*/
  font-size: 175%;
}

.content { /*effects bus route info*/
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  /*border-bottom: .5px solid #000;*/
}

.content:hover {
  background-color: #9F9F9F;
}

.content h2 { /*bus numbers*/
  display: inline;
  padding: 5px;
}
.name h3 { /*bus route name*/
  font-size: 150%;
  display: inline;
}

.frequency h4 { /*bus frequency*/
  font-size: 125%;
  font-weight: 400;
  margin-top: 3px;
  color: #8A8A8F;
  display: inline;
}

.content--bus-route-green h2 { /*size of bus numbers*/
  font-size: 250%;
  display: inline;
  padding-bottom: 5px;
  color: #01A382;
  border: .5px solid #01A382;
  border-radius: 10px;
}

.content--bus-route-yellow h2 { /*size of bus numbers*/
  font-size: 250%;
  display: inline;
  padding-bottom: 5px;
  color: #FF8F18;
  border: .5px solid #FF8F18;
  border-radius: 10px;
}

.content--bus-route-red h2 { /*size of bus numbers*/
  font-size: 250%;
  display: inline;
  padding-bottom: 5px;
  color: #FF2D55;
  border: .5px solid #FF2D55;
  border-radius: 10px;
}

.arrow {
  align: right;
}

.footer {
  font-size: 200%;
  color: #007AFF;
  padding: 15px;
  display: inline-block;
  
}

.frequency h4 {
  text-align: right;
}

.home {
  padding: 0 5px 0 5px;
}

.favorites {
  padding: 0 5px 0 5px;
}

.settings {
  padding: 0 5px 0 5px;
}

.search {
  padding: 0 5px 0 5px;
}
