*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

div {
  display: inline-block;
}

.container { /*everything in the body*/
  margin: 0 auto;
  width: 100%;
}

nav { /*everything in top "head" section*/
  margin: 0 auto;
  background-color: #fff; /*white*/
  height: 100px;
  width: 100%;
  position: fixed;
}

.top-nav {
  width: 100%;
  padding: 20px 0 0 0
}

.bottom-nav {
  width: 100%;
  height: 100px;
  padding: 0 0 20px 0
}

.bus-list { /*list of all buses/info*/
  padding: 10px 30px 0 40px;
  background-color: #fff;
}

.header {
  width: 80%;
  text-align: center;
}

.header h1 { /*"bus list"*/
  font-size: 250%;
  color: #000;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}

.arrow-left { /*only effects top arrow*/
  height: 50px;
  padding: 25px;
  display: inline;
  color: #007AFF;
}

.refresh {
  color: #007AFF;
}

img {
  display: block;
  width: 100%;
}

.map {
  background-image: url("../Images/map.png");
  background-size: cover;
  height: 700px;
  width: 100%;
}

.location { /*directional groupings*/
  /*border-bottom: .5px solid #BCBBC1;*/
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.location h2 { /*route direction*/
  font-size: 190%;
}

.Eastbound, .Northbound, .Southbound, .Reroute {
  display: block;
}

.content { /*effects bus route info*/
  width: 93%;
  height: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: .5px solid #BCBBC1;
}

.content:hover {
  background-color: #E5E5E5;
}

.content h2 { /*bus numbers*/
  display: inline;
  padding: 5px;
}

.route {
  display: inline-block;
  margin-left: 10px;
}

.route .name {
  display: block;
}

.route .frequency {
  display: block;
  padding-top: 5px;
}

.content--bus-route-green h2 { /*size of bus numbers*/
  font-size: 250%;
  display: inline;
  padding-bottom: 5px;
  color: #01A382;
  border: .5px solid #01A382;
  border-radius: 10px;
}

.content--bus-route-yellow h2 { /*size of bus numbers*/
  font-size: 250%;
  display: inline;
  padding-bottom: 5px;
  color: #FF8F18;
  border: .5px solid #FF8F18;
  border-radius: 10px;
}

.content--bus-route-red h2 { /*size of bus numbers*/
  font-size: 250%;
  display: inline;
  padding-bottom: 5px;
  color: #FF2D55;
  border: .5px solid #FF2D55;
  border-radius: 10px;
}

.name h3 { /*bus route name*/
  font-size: 175%;
  display: inline;
}

.frequency h4 { /*bus frequency*/
  font-size: 150%;
  font-weight: 400;
  margin-top: 3px;
  color: #8A8A8F;
  display: inline;
}

.arrow {
  color: #979797;
}

.nav-bar--bottom {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footer {
  font-size: 250%;
  color: #007AFF;
  margin: auto;
  width: 90%;
  height: 100px;
}

.frequency h4 {
  text-align: right;
}

.home, .favorites, .settings, .search {
  display: inline-block;
  padding-left: 13%;
  padding-top: 20px;
  width: 24%;
}
